/* You can add global styles to this file, and also import other style files */
.body{
    margin:10px;
}
.content {
    width: 80%;
    margin-left: 272px;
}
.span.badge.new:after {
    content: "" !important;
}
.button-delete {
    margin-top: -7px;
}